<div class="wrapper">
  <div class="top-bar">
    <%= render "top_bar" %>
  </div>
  <div class="line-link">
    <%= render "line_link" %>
  </div>
  <div class="calender">
    <%= render "calender" %>
  </div>
  <div class="posts">
    <%= render "posts_list" %>
  </div>
</div>
